In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**DATA LOADING**

In [2]:
df=pd.read_csv("Chocolate Sales.csv")
df

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",180
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",94
2,Gigi Bohling,India,Peanut Butter Cubes,07-Jul-22,"$4,501",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,"$12,726",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-Feb-22,"$13,685",184
...,...,...,...,...,...,...
1089,Karlen McCaffrey,Australia,Spicy Special Slims,17-May-22,"$4,410",323
1090,Jehu Rudeforth,USA,White Choc,07-Jun-22,"$6,559",119
1091,Ches Bonnell,Canada,Organic Choco Syrup,26-Jul-22,$574,217
1092,Dotty Strutley,India,Eclairs,28-Jul-22,"$2,086",384
1093,Karlen McCaffrey,India,70% Dark Bites,23-May-22,"$5,075",344

In [3]:
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",180
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",94
2,Gigi Bohling,India,Peanut Butter Cubes,07-Jul-22,"$4,501",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,"$12,726",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-Feb-22,"$13,685",184

In [4]:
df.tail()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
1089,Karlen McCaffrey,Australia,Spicy Special Slims,17-May-22,"$4,410",323
1090,Jehu Rudeforth,USA,White Choc,07-Jun-22,"$6,559",119
1091,Ches Bonnell,Canada,Organic Choco Syrup,26-Jul-22,$574,217
1092,Dotty Strutley,India,Eclairs,28-Jul-22,"$2,086",384
1093,Karlen McCaffrey,India,70% Dark Bites,23-May-22,"$5,075",344

In [5]:
df.shape

(1094, 6)

In [6]:
df.columns.tolist()

['Sales Person', 'Country', 'Product', 'Date', 'Amount', 'Boxes Shipped']

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   object
 4   Amount         1094 non-null   object
 5   Boxes Shipped  1094 non-null   int64
dtypes: int64(1), object(5)
memory usage: 51.4+ KB

In [8]:
df["Sales Person"].unique()

array(['Jehu Rudeforth', 'Van Tuxwell', 'Gigi Bohling', 'Jan Morforth',
       'Oby Sorrel', 'Gunar Cockshoot', 'Brien Boise',
       'Rafaelita Blaksland', 'Barr Faughny', 'Mallorie Waber',
       'Karlen McCaffrey', "Marney O'Breen", 'Beverie Moffet',
       'Roddy Speechley', 'Curtice Advani', 'Husein Augar', 'Kaine Padly',
       'Dennison Crosswaite', "Wilone O'Kielt", 'Andria Kimpton',
       'Kelci Walkden', 'Camilla Castle', 'Madelene Upcott',
       'Dotty Strutley', 'Ches Bonnell'], dtype=object)

In [9]:
df["Sales Person"].nunique()

25

In [10]:
df["Sales Person"].duplicated().sum()

np.int64(1069)

In [11]:
df["Sales Person"].value_counts()

Sales Person
Kelci Walkden          54
Brien Boise            53
Van Tuxwell            51
Beverie Moffet         50
Oby Sorrel             49
Dennison Crosswaite    49
Ches Bonnell           48
Gigi Bohling           47
Karlen McCaffrey       47
Curtice Advani         46
Madelene Upcott        45
Kaine Padly            45
Marney O'Breen         45
Jehu Rudeforth         43
Roddy Speechley        43
Gunar Cockshoot        43
Barr Faughny           43
Mallorie Waber         41
Jan Morforth           39
Andria Kimpton         39
Husein Augar           38
Dotty Strutley         36
Rafaelita Blaksland    34
Wilone O'Kielt         34
Camilla Castle         32
Name: count, dtype: int64

In [12]:
df["Sales Person"].dtype

dtype('O')

In [13]:
df["Sales Person"].isnull().sum()

np.int64(0)

In [14]:
df["Country"].unique()

array(['UK', 'India', 'Australia', 'New Zealand', 'USA', 'Canada'],
      dtype=object)

In [15]:
df["Country"].nunique()

6

In [16]:
df["Country"].value_counts()

Country
Australia      205
India          184
USA            179
UK             178
Canada         175
New Zealand    173
Name: count, dtype: int64

In [17]:
df["Country"].duplicated().sum()

np.int64(1088)

In [18]:
df["Country"].dtype

dtype('O')

In [19]:
df["Country"].isnull().sum()

np.int64(0)

In [20]:
df["Product"].unique()

array(['Mint Chip Choco', '85% Dark Bars', 'Peanut Butter Cubes',
       'Smooth Sliky Salty', '99% Dark & Pure', 'After Nines',
       '50% Dark Bites', 'Orange Choco', 'Eclairs', 'Drinking Coco',
       'Organic Choco Syrup', 'Milk Bars', 'Spicy Special Slims',
       'Fruit & Nut Bars', 'White Choc', 'Manuka Honey Choco',
       'Almond Choco', 'Raspberry Choco', 'Choco Coated Almonds',
       "Baker's Choco Chips", 'Caramel Stuffed Bars', '70% Dark Bites'],
      dtype=object)

In [21]:
df["Product"].nunique()

22

In [22]:
df["Product"].value_counts()

Product
Eclairs                 60
50% Dark Bites          60
Smooth Sliky Salty      59
White Choc              58
Drinking Coco           56
Spicy Special Slims     54
Organic Choco Syrup     52
85% Dark Bars           50
Fruit & Nut Bars        50
After Nines             50
Peanut Butter Cubes     49
99% Dark & Pure         49
Milk Bars               49
Raspberry Choco         48
Almond Choco            48
Orange Choco            47
Mint Chip Choco         45
Manuka Honey Choco      45
Caramel Stuffed Bars    43
70% Dark Bites          42
Baker's Choco Chips     41
Choco Coated Almonds    39
Name: count, dtype: int64

In [23]:
df["Product"].duplicated().sum()

np.int64(1072)

In [24]:
df["Product"].dtype

dtype('O')

In [25]:
df["Product"].isnull().sum()

np.int64(0)

In [26]:
df["Date"].unique()

array(['04-Jan-22', '01-Aug-22', '07-Jul-22', '27-Apr-22', '24-Feb-22',
       '06-Jun-22', '25-Jan-22', '24-Mar-22', '20-Apr-22', '04-Jul-22',
       '13-Jan-22', '10-Mar-22', '28-Jul-22', '03-Aug-22', '26-Jan-22',
       '14-Feb-22', '05-Apr-22', '16-Feb-22', '08-Jun-22', '27-Jun-22',
       '17-Feb-22', '30-May-22', '14-Mar-22', '28-Feb-22', '09-Feb-22',
       '05-Jul-22', '15-Jun-22', '24-May-22', '29-Jun-22', '11-May-22',
       '30-Jun-22', '22-Jul-22', '24-Aug-22', '19-May-22', '02-Jun-22',
       '15-Apr-22', '11-Jul-22', '23-Feb-22', '22-Aug-22', '10-Jun-22',
       '19-Jul-22', '19-Apr-22', '15-Jul-22', '18-May-22', '28-Jun-22',
       '16-May-22', '26-May-22', '06-Jul-22', '27-May-22', '14-Apr-22',
       '10-Aug-22', '08-Jul-22', '02-Mar-22', '10-Jan-22', '11-Mar-22',
       '20-Jun-22', '26-Aug-22', '13-Jul-22', '11-Feb-22', '27-Jan-22',
       '31-Jan-22', '18-Aug-22', '23-Aug-22', '25-May-22', '07-Feb-22',
       '12-May-22', '07-Mar-22', '03-Jan-22', '26-Jul-22', '01-Apr-22',
       '08-Apr-22', '28-Mar-22', '04-Mar-22', '02-Aug-22', '25-Aug-22',
       '25-Feb-22', '07-Jun-22', '12-Apr-22', '19-Jan-22', '05-Jan-22',
       '24-Jan-22', '06-Apr-22', '28-Jan-22', '16-Mar-22', '21-Feb-22',
       '23-Mar-22', '16-Jun-22', '09-Mar-22', '15-Aug-22', '12-Jan-22',
       '25-Jul-22', '25-Apr-22', '04-Apr-22', '18-Jan-22', '29-Apr-22',
       '31-Mar-22', '29-Mar-22', '12-Jul-22', '20-May-22', '29-Jul-22',
       '13-Apr-22', '07-Jan-22', '14-Jan-22', '17-Mar-22', '21-Jan-22',
       '22-Feb-22', '31-May-22', '14-Jun-22', '13-Jun-22', '27-Jul-22',
       '13-May-22', '15-Mar-22', '25-Mar-22', '18-Mar-22', '01-Jul-22',
       '08-Aug-22', '04-May-22', '04-Aug-22', '01-Jun-22', '22-Apr-22',
       '17-Aug-22', '08-Mar-22', '09-May-22', '23-May-22', '11-Jan-22',
       '19-Aug-22', '21-Apr-22', '22-Mar-22', '30-Aug-22', '21-Jul-22',
       '23-Jun-22', '01-Feb-22', '24-Jun-22', '09-Jun-22', '17-May-22',
       '18-Jul-22', '21-Jun-22', '22-Jun-22', '02-May-22', '21-Mar-22',
       '05-May-22', '06-May-22', '15-Feb-22', '08-Feb-22', '03-May-22',
       '09-Aug-22', '10-May-22', '05-Aug-22', '31-Aug-22', '11-Apr-22',
       '03-Mar-22', '26-Apr-22', '03-Feb-22', '12-Aug-22', '17-Jan-22',
       '11-Aug-22', '17-Jun-22', '10-Feb-22', '18-Apr-22', '30-Mar-22',
       '16-Aug-22', '03-Jun-22', '01-Mar-22', '18-Feb-22', '20-Jul-22',
       '28-Apr-22', '14-Jul-22', '20-Jan-22'], dtype=object)

In [27]:
df["Date"].nunique()

168

In [28]:
df["Date"].dtype #here is wrong data type present for this column

dtype('O')

In [29]:
df["Date"].isnull().sum()

np.int64(0)

In [30]:
df["Amount"].unique()

array(['$5,320 ', '$7,896 ', '$4,501 ', '$12,726 ', '$13,685 ', '$5,376 ',
       '$3,080 ', '$3,990 ', '$2,835 ', '$4,704 ', '$3,703 ', '$1,442 ',
       '$168 ', '$8,379 ', '$6,790 ', '$4,067 ', '$3,017 ', '$8,799 ',
       '$1,085 ', '$6,888 ', '$1,267 ', '$4,753 ', '$3,003 ', '$7,672 ',
       '$1,652 ', '$4,025 ', '$9,492 ', '$5,061 ', '$1,722 ', '$12,446 ',
       '$4,284 ', '$6,839 ', '$2,163 ', '$9,583 ', '$2,653 ', '$147 ',
       '$3,654 ', '$2,443 ', '$938 ', '$14,749 ', '$4,781 ', '$6,307 ',
       '$7,602 ', '$9,737 ', '$6,979 ', '$4,382 ', '$5,243 ', '$4,865 ',
       '$8,575 ', '$91 ', '$14,798 ', '$2,205 ', '$441 ', '$3,556 ',
       '$16,793 ', '$15,421 ', '$4,438 ', '$1,603 ', '$273 ', '$3,073 ',
       '$6,090 ', '$10,255 ', '$2,030 ', '$19,453 ', '$9,275 ', '$6,181 ',
       '$9,037 ', '$12,313 ', '$5,642 ', '$2,800 ', '$959 ', '$2,002 ',
       '$609 ', '$1,274 ', '$7,595 ', '$4,725 ', '$9,681 ', '$14,504 ',
       '$280 ', '$63 ', '$8,001 ', '$4,032 ', '$5,859 ', '$11,095 ',
       '$7,182 ', '$6,881 ', '$7,154 ', '$6,188 ', '$4,221 ', '$630 ',
       '$1,743 ', '$2,919 ', '$49 ', '$1,827 ', '$13,006 ', '$1,064 ',
       '$11,571 ', '$5,740 ', '$1,456 ', '$5,334 ', '$4,151 ', '$8,106 ',
       '$126 ', '$4,697 ', '$7,798 ', '$9,408 ', '$1,939 ', '$10,906 ',
       '$5,929 ', '$5,579 ', '$10,927 ', '$623 ', '$6,013 ', '$1,505 ',
       '$476 ', '$11,550 ', '$17,318 ', '$1,848 ', '$7,273 ', '$854 ',
       '$6,832 ', '$4,606 ', '$4,466 ', '$16,114 ', '$1,561 ', '$8,897 ',
       '$2,464 ', '$4,830 ', '$2,765 ', '$7,126 ', '$4,263 ', '$3,605 ',
       '$19,929 ', '$5,103 ', '$2,541 ', '$5,663 ', '$392 ', '$10,976 ',
       '$9,282 ', '$8,267 ', '$4,116 ', '$2,093 ', '$1,015 ', '$12,516 ',
       '$2,758 ', '$3,297 ', '$6,048 ', '$10,101 ', '$2,282 ', '$4,361 ',
       '$3,052 ', '$8,029 ', '$5,460 ', '$8,911 ', '$7,203 ', '$13,083 ',
       '$2,779 ', '$9,058 ', '$3,549 ', '$9,436 ', '$10,283 ', '$5,446 ',
       '$1,043 ', '$12,586 ', '$1,687 ', '$5,299 ', '$3,213 ', '$5,194 ',
       '$13,706 ', '$6,489 ', '$9,324 ', '$10,829 ', '$8,113 ', '$3,269 ',
       '$7,287 ', '$2,583 ', '$9,982 ', '$4,795 ', '$9,310 ', '$497 ',
       '$581 ', '$3,472 ', '$4,333 ', '$3,325 ', '$11,718 ', '$2,100 ',
       '$4,018 ', '$6,468 ', '$7,238 ', '$6,454 ', '$3,115 ', '$6,475 ',
       '$1,162 ', '$14,238 ', '$1,428 ', '$8,064 ', '$9,660 ', '$7,357 ',
       '$6,055 ', '$5,124 ', '$3,479 ', '$784 ', '$18,991 ', '$1,372 ',
       '$735 ', '$6,538 ', '$3,199 ', '$4,571 ', '$5,481 ', '$3,136 ',
       '$252 ', '$3,395 ', '$14,938 ', '$4,053 ', '$5,565 ', '$7,161 ',
       '$8,883 ', '$1,351 ', '$3,171 ', '$7,910 ', '$3,108 ', '$5,075 ',
       '$378 ', '$7,350 ', '$3,388 ', '$11,837 ', '$5,425 ', '$3,752 ',
       '$7,728 ', '$2,296 ', '$4,403 ', '$3,192 ', '$448 ', '$4,270 ',
       '$70 ', '$6,762 ', '$3,745 ', '$2,639 ', '$4,389 ', '$2,604 ',
       '$16,569 ', '$14,658 ', '$161 ', '$2,807 ', '$13,034 ', '$8,484 ',
       '$2,240 ', '$13,447 ', '$9,422 ', '$8,687 ', '$2,415 ', '$6,272 ',
       '$3,122 ', '$8,043 ', '$11,662 ', '$8,925 ', '$7,294 ', '$1,526 ',
       '$2,688 ', '$14,889 ', '$2,912 ', '$2,632 ', '$6,328 ', '$2,527 ',
       '$1,414 ', '$7,714 ', '$4,347 ', '$7,490 ', '$2,058 ', '$3,640 ',
       '$455 ', '$10,990 ', '$5,558 ', '$1,876 ', '$5,523 ', '$11,200 ',
       '$5,593 ', '$7,882 ', '$10,241 ', '$1,379 ', '$3,010 ', '$1,540 ',
       '$6,916 ', '$1,232 ', '$602 ', '$10,185 ', '$2,170 ', '$8,673 ',
       '$4,760 ', '$3,374 ', '$420 ', '$2,863 ', '$5,936 ', '$889 ',
       '$16,016 ', '$10,479 ', '$1,575 ', '$8,197 ', '$840 ', '$5,691 ',
       '$4,193 ', '$9,016 ', '$9,870 ', '$2,576 ', '$3,178 ', '$4,676 ',
       '$5,502 ', '$7,462 ', '$5,803 ', '$13,888 ', '$6,867 ', '$2,317 ',
       '$1,218 ', '$4,109 ', '$1,953 ', '$6,797 ', '$9,226 ', '$5,733 ',
       '$4,312 ', '$1,638 ', '$10,815 ', '$987 ', '$4,669 ', '$2,905 ',
       '$6,986 ', '$1,288 ', '$2,345 ', '$3,619 ', '$16,982 ', '$8,092 ',
       '$6,993 ', '$637 ', '$6,034 ', '$980 ', '$2,821 ', '$3,563 ',
       '$2,996 ', '$2,436 ', '$5,509 ', '$12,992 ', '$3,724 ', '$7,133 ',
       '$8,617 ', '$9,198 ', '$11,823 ', '$5,775 ', '$13,125 ',
       '$14,287 ', '$16,233 ', '$5,313 ', '$3,577 ', '$3,528 ', '$679 ',
       '$2,450 ', '$10,577 ', '$2,597 ', '$2,219 ', '$11,319 ', '$5,978 ',
       '$5,327 ', '$6,020 ', '$5,614 ', '$1,736 ', '$6,384 ', '$14,539 ',
       '$3,493 ', '$994 ', '$1,554 ', '$966 ', '$4,935 ', '$10,024 ',
       '$2,506 ', '$6,524 ', '$8,148 ', '$3,948 ', '$5,271 ', '$12,327 ',
       '$6,167 ', '$18,340 ', '$7,014 ', '$7,119 ', '$15,491 ', '$5,747 ',
       '$4,550 ', '$2,191 ', '$7,623 ', '$9,023 ', '$3,402 ', '$10,507 ',
       '$7,721 ', '$5,033 ', '$1,960 ', '$238 ', '$7,756 ', '$2,660 ',
       '$11,564 ', '$1,365 ', '$4,186 ', '$7,406 ', '$112 ', '$8,204 ',
       '$2,611 ', '$15,652 ', '$4,074 ', '$12,250 ', '$2,366 ', '$6,965 ',
       '$5,292 ', '$588 ', '$4,046 ', '$7,042 ', '$6,713 ', '$6,440 ',
       '$10,885 ', '$2,387 ', '$6,678 ', '$4,515 ', '$5,852 ', '$1,750 ',
       '$5,782 ', '$2,870 ', '$3,094 ', '$12,761 ', '$3,696 ', '$5,222 ',
       '$8,939 ', '$2,156 ', '$2,380 ', '$3,339 ', '$14,980 ', '$1,512 ',
       '$6,657 ', '$3,836 ', '$8,771 ', '$651 ', '$6,706 ', '$1,421 ',
       '$8,526 ', '$1,435 ', '$7,434 ', '$15,316 ', '$2,751 ', '$2,786 ',
       '$2,303 ', '$12,271 ', '$11,298 ', '$15,855 ', '$12,404 ',
       '$10,808 ', '$4,858 ', '$7,742 ', '$10,983 ', '$6,769 ', '$777 ',
       '$3,843 ', '$6,930 ', '$8,393 ', '$3,822 ', '$6,342 ', '$6,510 ',
       '$10,171 ', '$5,908 ', '$10,164 ', '$9,716 ', '$22,050 ',
       '$9,989 ', '$4,739 ', '$3,185 ', '$8,225 ', '$14,301 ', '$1,316 ',
       '$3,486 ', '$13,930 ', '$8,470 ', '$77 ', '$3,381 ', '$4,102 ',
       '$2,975 ', '$4,137 ', '$9,541 ', '$5,152 ', '$11,116 ', '$13,076 ',
       '$10,213 ', '$2,485 ', '$8,715 ', '$7 ', '$8,904 ', '$4,396 ',
       '$12,068 ', '$9,772 ', '$10,458 ', '$6,426 ', '$7,504 ', '$5,439 ',
       '$15,547 ', '$11,956 ', '$2,723 ', '$19,327 ', '$8,848 ',
       '$14,336 ', '$16,401 ', '$5,173 ', '$2,534 ', '$910 ', '$2,331 ',
       '$2,086 ', '$5,012 ', '$13,482 ', '$5,621 ', '$10,486 ',
       '$17,626 ', '$4,494 ', '$105 ', '$3,220 ', '$4,802 ', '$5,677 ',
       '$945 ', '$8,757 ', '$4,816 ', '$7,532 ', '$4,340 ', '$1,799 ',
       '$1,127 ', '$10,038 ', '$2,926 ', '$6,279 ', '$308 ', '$3,500 ',
       '$658 ', '$12,565 ', '$3,955 ', '$8,512 ', '$504 ', '$4,256 ',
       '$13,573 ', '$6,566 ', '$13,503 ', '$8,680 ', '$385 ', '$2,961 ',
       '$1,981 ', '$7,959 ', '$10,794 ', '$1,897 ', '$2,744 ', '$5,474 ',
       '$6,069 ', '$6,944 ', '$12,173 ', '$5,705 ', '$2,492 ', '$3,024 ',
       '$3,437 ', '$1,869 ', '$1,225 ', '$1,155 ', '$6,811 ', '$6,433 ',
       '$8,169 ', '$2,275 ', '$3,857 ', '$1,463 ', '$7,924 ', '$2,898 ',
       '$9,506 ', '$7,175 ', '$1,729 ', '$1,589 ', '$5,187 ', '$6,223 ',
       '$9,457 ', '$2,107 ', '$1,862 ', '$6,972 ', '$10,220 ', '$3,969 ',
       '$1,547 ', '$10,633 ', '$15,057 ', '$9,338 ', '$14,525 ',
       '$5,810 ', '$1,582 ', '$791 ', '$9,100 ', '$9,884 ', '$3,780 ',
       '$4,557 ', '$5,796 ', '$84 ', '$4,746 ', '$6,237 ', '$7,483 ',
       '$1,309 ', '$2,989 ', '$9,625 ', '$10,031 ', '$6,587 ', '$3,311 ',
       '$15,330 ', '$14,028 ', '$8,624 ', '$1,197 ', '$483 ', '$9,534 ',
       '$1,694 ', '$2,933 ', '$2,044 ', '$12,656 ', '$8,722 ', '$15,750 ',
       '$19,481 ', '$8,099 ', '$13,727 ', '$8,659 ', '$8,463 ', '$4,914 ',
       '$3,087 ', '$9,205 ', '$1,358 ', '$8,498 ', '$700 ', '$644 ',
       '$826 ', '$203 ', '$13,356 ', '$5,894 ', '$1,617 ', '$10,822 ',
       '$10,724 ', '$2,016 ', '$7,588 ', '$1,904 ', '$4,844 ', '$4,599 ',
       '$9,744 ', '$1,400 ', '$364 ', '$7,231 ', '$8,309 ', '$3,164 ',
       '$490 ', '$18,032 ', '$5,131 ', '$1,141 ', '$7,980 ', '$5,229 ',
       '$3,423 ', '$4,326 ', '$3,997 ', '$5,180 ', '$952 ', '$10,969 ',
       '$5,964 ', '$1,302 ', '$4,179 ', '$1,946 ', '$4,291 ', '$7,196 ',
       '$10,437 ', '$3,647 ', '$8,995 ', '$7,252 ', '$16,380 ', '$4,522 ',
       '$329 ', '$3,458 ', '$4,641 ', '$4,627 ', '$868 ', '$210 ',
       '$7,007 ', '$5,845 ', '$8,428 ', '$4,977 ', '$9,527 ', '$10,766 ',
       '$4,879 ', '$2,408 ', '$8,981 ', '$5,250 ', '$7,560 ', '$3,038 ',
       '$1,099 ', '$7,413 ', '$5,397 ', '$10,325 ', '$2,149 ', '$12,362 ',
       '$12,635 ', '$7,315 ', '$1,393 ', '$8,022 ', '$371 ', '$16,702 ',
       '$13,258 ', '$10,192 ', '$7,140 ', '$9,835 ', '$749 ', '$7,770 ',
       '$3,507 ', '$5,600 ', '$721 ', '$6,615 ', '$7,420 ', '$9,114 ',
       '$5,404 ', '$14,924 ', '$7,091 ', '$6,496 ', '$3,738 ', '$1,190 ',
       '$9,268 ', '$1,029 ', '$12,026 ', '$13,405 ', '$14,763 ',
       '$12,894 ', '$8,302 ', '$8,183 ', '$1,645 ', '$3,143 ', '$5,873 ',
       '$12,425 ', '$1,715 ', '$8,190 ', '$4,991 ', '$5,096 ', '$7,063 ',
       '$4,200 ', '$11,137 ', '$301 ', '$17,465 ', '$10,143 ', '$3,626 ',
       '$3,346 ', '$6,321 ', '$9,345 ', '$15,008 ', '$7,609 ', '$10,332 ',
       '$819 ', '$5,754 ', '$28 ', '$4,956 ', '$2,352 ', '$3,906 ',
       '$1,813 ', '$11,788 ', '$5,768 ', '$2,401 ', '$10,122 ', '$2,268 ',
       '$574 ', '$1,792 ', '$9,107 ', '$12,187 ', '$5,670 ', '$2,681 ',
       '$1,533 ', '$9,765 ', '$3,318 ', '$4,214 ', '$4,690 ', '$13,062 ',
       '$12,488 ', '$14,147 ', '$10,199 ', '$11,389 ', '$3,584 ',
       '$12,481 ', '$8,603 ', '$6,559 ', '$18,697 ', '$10,150 ',
       '$4,592 ', '$4,158 ', '$5,684 ', '$693 ', '$546 ', '$1,036 ',
       '$13,846 ', '$2,499 ', '$10,689 ', '$2,226 ', '$10,262 ',
       '$3,864 ', '$4,900 ', '$8,155 ', '$2,478 ', '$2,471 ', '$1,666 ',
       '$8,400 ', '$6,139 ', '$7,077 ', '$9,954 ', '$1,260 ', '$469 ',
       '$973 ', '$2,520 ', '$10,500 ', '$7,952 ', '$4,872 ', '$6,594 ',
       '$1,470 ', '$2,674 ', '$7,364 ', '$6,818 ', '$6,776 ', '$15,099 ',
       '$3,612 ', '$3,710 ', '$6,111 ', '$2,702 ', '$5,887 ', '$10,647 ',
       '$8,589 ', '$11,781 ', '$672 ', '$12,558 ', '$8,337 ', '$8,134 ',
       '$8,491 ', '$3,066 ', '$4,410 '], dtype=object)

In [31]:
df["Amount"].nunique()

827

In [32]:
df["Amount"].dtype # here datatype of column is worng so we have to change

dtype('O')

In [33]:
df["Amount"].isnull().sum()

np.int64(0)

In [34]:
df["Boxes Shipped"].unique()

array([180,  94,  91, 342, 184,  38, 176,  73,  59, 102,  62,  11, 286,
       156, 173, 356,  42, 140, 250, 172,  88, 157, 163, 113, 115, 321,
       186, 112, 151, 301, 121, 150, 133,  70, 315, 314,  72,  14, 581,
        16, 354, 241, 142, 188, 160,  18, 303,  23, 135,  83, 179,  24,
       416,  55, 227,  48, 174, 302, 149, 411,  56, 103,   9, 265, 214,
        32, 244, 181, 137,  21, 311,  10,  82, 108, 401, 408, 420, 348,
       270, 264, 111,  65,  97,   6, 482, 106,  31, 359,  80, 296, 101,
        40, 167, 138, 520, 175,  92, 141, 283,  47, 125, 396,  87,  27,
       547, 118,  46,  57,  22,  96,  44, 387,  50,   7,  90, 403, 110,
        30, 117, 272, 128,  45, 212, 477, 178,  81, 196, 447, 136,  12,
       104, 116, 202, 418, 389,  26, 146,  41,  54, 370, 210, 159, 187,
       233, 282, 475,  43,  84,  78, 100,  66,  76, 190, 424, 134, 358,
       249, 144, 390,  79, 122, 430,  69, 154,  99, 433,  19, 258, 200,
        61, 246, 252, 256, 277, 216,  37, 109, 185, 170, 126, 275, 145,
       139, 406, 417, 166,   3,  95, 312,  86, 242, 158, 209,  52,  51,
       318, 238, 127,  53, 259, 107, 288, 218,  60,  58, 273,  28,  75,
       329, 395, 195, 554, 152, 371, 203, 183, 197,  25, 415, 211,  74,
       368, 409, 164, 352, 169, 223, 284, 309, 234, 215, 336, 280, 177,
       147,  13,   2, 261,  68, 105,  39, 120, 257,  85, 226, 341, 330,
         4, 285, 281, 322, 182, 467, 191, 317, 410, 254, 232, 543, 204,
       469, 213,   5, 248, 129, 148,  93, 208, 316, 384, 260,  71, 224,
       153,  67, 194, 334, 155, 407, 353, 114, 320,  49,  34, 130, 339,
       392, 347, 333, 432, 236, 168, 402,  89, 199, 131, 479, 287, 269,
       229, 293, 219, 189,  15, 198,   8, 162, 207, 300, 235, 251, 361,
       239, 350,  33, 201, 323, 220, 488, 344, 512, 276, 271, 508, 243,
        98, 308, 398, 124, 351, 708, 289,  20, 171,  29, 419, 457, 524,
       597, 305, 313, 377, 205, 307, 228, 425, 495,   1, 310, 294, 413,
       237, 614, 222, 468, 518, 247,  63, 123, 438,  64, 262, 306, 304,
       165, 446, 119, 539, 434, 299,  35, 363, 421, 709, 380, 465,  77,
       464, 132, 295, 319, 591, 268, 338, 217])

In [35]:
df["Boxes Shipped"].nunique()

385

In [36]:
df["Boxes Shipped"].isnull().sum()

np.int64(0)

In [37]:
df.isnull().sum()

Sales Person     0
Country          0
Product          0
Date             0
Amount           0
Boxes Shipped    0
dtype: int64

In [38]:
df.duplicated().sum()

np.int64(0)

**DATA CLEANING**

In [39]:
#Change the data type for amount column

In [40]:
df["Amount"]=df["Amount"].replace("[\$,]","",regex=True)

In [41]:
df["Amount"]=pd.to_numeric(df["Amount"],errors="coerce")

In [42]:
print(df["Amount"].isnull().sum())

0

In [43]:
df["Amount"].dtype

dtype('int64')

In [44]:
df["Date"]=pd.to_datetime(df["Date"],format="%d-%b-%y",errors="coerce")

In [45]:
df["Date"].isnull().sum()

np.int64(0)

In [46]:
df["Date"].dtype

dtype('<M8[ns]')

In [59]:
df.to_csv("cleaned_chocolate_data.csv",index=False)

In [60]:
import os

In [61]:
print(os.path.exists("cleaned_chocolate_data.csv"))

True

In [62]:
import shutil

In [63]:
desktop_path=os.path.join(os.path.expanduser("~"),"Desktop")

In [64]:
shutil.move("cleaned_chocolate_data.csv",os.path.join(desktop_path,"cleaned_chocolate_data.csv"))

'C:\\Users\\Govardhan reddy17\\Desktop\\cleaned_chocolate_data.csv'

In [65]:
print("File_exists:",os.path.exists("cleaned_chocolate_data.csv"))

File_exists: False